.icon-left {
  margin-right: 3px;
}

.icon-right {
  margin-left: 3px;
}

.icon-tiny {
  width: 16px;
  height: 16px;
  background-image: url('css_sprites_16.png');
  background-position-x: calc(var(--x) / 4);
  background-position-y: calc(var(--y) / 4);
}

.icon-small {
  width: 24px;
  height: 24px;
  background-image: url('css_sprites_24.png');
  background-position-x: calc(var(--x) / 8 * 3);
  background-position-y: calc(var(--y) / 8 * 3);
}

.icon-medium {
  width: 32px;
  height: 32px;
  background-image: url('css_sprites_32.png');
  background-position-x: calc(var(--x) / 2);
  background-position-y: calc(var(--y) / 2);
}

.icon-large {
  width: 64px;
  height: 64px;
  background-image: url('css_sprites_64.png');
  background-position-x: var(--x);
  background-position-y: var(--y);
}

.icon-file_zip-1 {
  --x: -0;
  --y: -0;
}

.icon-notes {
  --x: -64px;
  --y: -0;
}

.icon-notepad {
  --x: -0px;
  --y: -64px;
}

.icon-cloud {
  --x: -64px;
  --y: -64px;
}

.icon-image {
  --x: -128px;
  --y: -0;
}

.icon-film_movie {
  --x: -128px;
  --y: -64px;
}

.icon-file_photoshop {
  --x: -0px;
  --y: -128px;
}

.icon-book {
  --x: -64px;
  --y: -128px;
}

.icon-lock_open {
  --x: -128px;
  --y: -128px;
}

.icon-pencil {
  --x: -192px;
  --y: -0;
}

.icon-heart {
  --x: -192px;
  --y: -64px;
}

.icon-movie {
  --x: -192px;
  --y: -128px;
}

.icon-id_user {
  --x: -0px;
  --y: -192px;
}

.icon-monitor {
  --x: -64px;
  --y: -192px;
}

.icon-file_word {
  --x: -128px;
  --y: -192px;
}

.icon-folder_green {
  --x: -192px;
  --y: -192px;
}

.icon-user {
  --x: -256px;
  --y: -0;
}

.icon-lock-2 {
  --x: -256px;
  --y: -64px;
}

.icon-globe {
  --x: -256px;
  --y: -128px;
}

.icon-group_user {
  --x: -256px;
  --y: -192px;
}

.icon-camera {
  --x: -0px;
  --y: -256px;
}

.icon-file_illustrator {
  --x: -64px;
  --y: -256px;
}

.icon-search {
  --x: -128px;
  --y: -256px;
}

.icon-disc_vinyl {
  --x: -192px;
  --y: -256px;
}

.icon-enveloppe {
  --x: -256px;
  --y: -256px;
}

.icon-cat {
  --x: -320px;
  --y: -0;
}

.icon-user {
  --x: -320px;
  --y: -64px;
}

.icon-movie {
  --x: -320px;
  --y: -128px;
}

.icon-floppy_save {
  --x: -320px;
  --y: -192px;
}

.icon-blue_folder {
  --x: -320px;
  --y: -256px;
}

.icon-map_marker {
  --x: -0px;
  --y: -320px;
}

.icon-image_pic_picture {
  --x: -64px;
  --y: -320px;
}

.icon-star {
  --x: -128px;
  --y: -320px;
}

.icon-map {
  --x: -192px;
  --y: -320px;
}

.icon-database {
  --x: -256px;
  --y: -320px;
}

.icon-turntable {
  --x: -320px;
  --y: -320px;
}

.icon-calendar {
  --x: -384px;
  --y: -0;
}

.icon-file_pdf {
  --x: -384px;
  --y: -64px;
}

.icon-bubbles {
  --x: -384px;
  --y: -128px;
}

.icon-paperclip {
  --x: -384px;
  --y: -192px;
}

.icon-file_premiere {
  --x: -384px;
  --y: -256px;
}

.icon-calendar {
  --x: -384px;
  --y: -320px;
}

.icon-window {
  --x: -0px;
  --y: -384px;
}

.icon-text {
  --x: -64px;
  --y: -384px;
}

.icon-file_zip-2 {
  --x: -128px;
  --y: -384px;
}

.icon-excel_file {
  --x: -192px;
  --y: -384px;
}

.icon-gamepad {
  --x: -256px;
  --y: -384px;
}

.icon-bubbles {
  --x: -320px;
  --y: -384px;
}

.icon-image_png {
  --x: -384px;
  --y: -384px;
}

.icon-exe_file {
  --x: -448px;
  --y: -0;
}

.icon-cat {
  --x: -448px;
  --y: -64px;
}

.icon-bubbles {
  --x: -448px;
  --y: -128px;
}

.icon-empty_file {
  --x: -448px;
  --y: -192px;
}

.icon-wrench {
  --x: -448px;
  --y: -256px;
}

.icon-terminal {
  --x: -448px;
  --y: -320px;
}

.icon-wrench {
  --x: -448px;
  --y: -384px;
}

.icon-microphone {
  --x: -0px;
  --y: -448px;
}

.icon-folder_music {
  --x: -64px;
  --y: -448px;
}

.icon-marker {
  --x: -128px;
  --y: -448px;
}

.icon-box_full {
  --x: -192px;
  --y: -448px;
}

.icon-drive {
  --x: -256px;
  --y: -448px;
}

.icon-beer {
  --x: -320px;
  --y: -448px;
}

.icon-star {
  --x: -384px;
  --y: -448px;
}

.icon-bookmark_file {
  --x: -448px;
  --y: -448px;
}

.icon-compas {
  --x: -512px;
  --y: -0;
}

.icon-window {
  --x: -512px;
  --y: -64px;
}

.icon-terminal {
  --x: -512px;
  --y: -128px;
}

.icon-error_sign {
  --x: -512px;
  --y: -192px;
}

.icon-tablet {
  --x: -512px;
  --y: -256px;
}

.icon-address_book {
  --x: -512px;
  --y: -320px;
}

.icon-document_folder {
  --x: -512px;
  --y: -384px;
}

.icon-disc {
  --x: -512px;
  --y: -448px;
}

.icon-map {
  --x: -0px;
  --y: -512px;
}

.icon-ban_sign {
  --x: -64px;
  --y: -512px;
}

.icon-flask {
  --x: -128px;
  --y: -512px;
}

.icon-computer {
  --x: -192px;
  --y: -512px;
}

.icon-bulb_light {
  --x: -256px;
  --y: -512px;
}

.icon-folder_video {
  --x: -320px;
  --y: -512px;
}

.icon-error_shield {
  --x: -384px;
  --y: -512px;
}

.icon-buoy_life {
  --x: -448px;
  --y: -512px;
}

.icon-tag {
  --x: -512px;
  --y: -512px;
}

.icon-google_plus_social {
  --x: -576px;
  --y: -0;
}

.icon-folder {
  --x: -576px;
  --y: -64px;
}

.icon-house {
  --x: -576px;
  --y: -128px;
}

.icon-institution {
  --x: -576px;
  --y: -192px;
}

.icon-heart {
  --x: -576px;
  --y: -256px;
}

.icon-enveloppe_letter {
  --x: -576px;
  --y: -320px;
}

.icon-component {
  --x: -576px;
  --y: -384px;
}

.icon-camera {
  --x: -576px;
  --y: -448px;
}

.icon-box_out {
  --x: -576px;
  --y: -512px;
}

.icon-add_sign {
  --x: -0px;
  --y: -576px;
}

.icon-pin {
  --x: -64px;
  --y: -576px;
}

.icon-shield {
  --x: -128px;
  --y: -576px;
}

.icon-trashcan {
  --x: -192px;
  --y: -576px;
}

.icon-enveloppe {
  --x: -256px;
  --y: -576px;
}

.icon-bubbles {
  --x: -320px;
  --y: -576px;
}

.icon-social_youtube {
  --x: -384px;
  --y: -576px;
}

.icon-filled_profile {
  --x: -448px;
  --y: -576px;
}

.icon-tachometer {
  --x: -512px;
  --y: -576px;
}

.icon-headphone {
  --x: -576px;
  --y: -576px;
}

.icon-clock-1 {
  --x: -640px;
  --y: -0;
}

.icon-file_link {
  --x: -640px;
  --y: -64px;
}

.icon-layout_window {
  --x: -640px;
  --y: -128px;
}

.icon-paperclip {
  --x: -640px;
  --y: -192px;
}

.icon-address_book {
  --x: -640px;
  --y: -256px;
}

.icon-group_profile {
  --x: -640px;
  --y: -320px;
}

.icon-info_sign {
  --x: -640px;
  --y: -384px;
}

.icon-map_marker {
  --x: -640px;
  --y: -448px;
}

.icon-bag {
  --x: -640px;
  --y: -512px;
}

.icon-database {
  --x: -640px;
  --y: -576px;
}

.icon-file_word {
  --x: -0px;
  --y: -640px;
}

.icon-lock_open {
  --x: -64px;
  --y: -640px;
}

.icon-calendar {
  --x: -128px;
  --y: -640px;
}

.icon-system_window {
  --x: -192px;
  --y: -640px;
}

.icon-filter {
  --x: -256px;
  --y: -640px;
}

.icon-folder_picture {
  --x: -320px;
  --y: -640px;
}

.icon-calendar_clock {
  --x: -384px;
  --y: -640px;
}

.icon-cloud_sync {
  --x: -448px;
  --y: -640px;
}

.icon-cogs {
  --x: -512px;
  --y: -640px;
}

.icon-code_file {
  --x: -576px;
  --y: -640px;
}

.icon-screwdriver_wrench {
  --x: -640px;
  --y: -640px;
}

.icon-folder_house {
  --x: -704px;
  --y: -0;
}

.icon-box_in {
  --x: -704px;
  --y: -64px;
}

.icon-cloud_down {
  --x: -704px;
  --y: -128px;
}

.icon-clock-2 {
  --x: -704px;
  --y: -192px;
}

.icon-facebook_social {
  --x: -704px;
  --y: -256px;
}

.icon-lock-1 {
  --x: -704px;
  --y: -320px;
}

.icon-file_powerpoint {
  --x: -704px;
  --y: -384px;
}

.icon-profile {
  --x: -704px;
  --y: -448px;
}

.icon-money {
  --x: -704px;
  --y: -512px;
}

.icon-gift {
  --x: -704px;
  --y: -576px;
}

.icon-envelope {
  --x: -704px;
  --y: -640px;
}

.icon-webcam {
  --x: -0px;
  --y: -704px;
}

.icon-check_sign {
  --x: -64px;
  --y: -704px;
}

.icon-camera {
  --x: -128px;
  --y: -704px;
}

.icon-note_sticky {
  --x: -192px;
  --y: -704px;
}

.icon-cog {
  --x: -256px;
  --y: -704px;
}

.icon-drive {
  --x: -320px;
  --y: -704px;
}

.icon-shield_warning {
  --x: -384px;
  --y: -704px;
}

.icon-bubble {
  --x: -448px;
  --y: -704px;
}

.icon-disc {
  --x: -512px;
  --y: -704px;
}

.icon-excel_file {
  --x: -576px;
  --y: -704px;
}

.icon-indesign {
  --x: -640px;
  --y: -704px;
}

.icon-zip-3 {
  --x: -704px;
  --y: -704px;
}

.icon-address_book {
  --x: -768px;
  --y: -0;
}

.icon-rss {
  --x: -768px;
  --y: -64px;
}

.icon-cone {
  --x: -768px;
  --y: -128px;
}

.icon-sound {
  --x: -768px;
  --y: -192px;
}
