:root {
  --button-brightness: 1;
  --button-contrast: 1;
}

.dark * {
  --button-brightness: 0.8;
  --button-contrast: 1.2;
}

.super-button {
  padding: 5px !important;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.super-button .button-subtext {
  margin: 3px;
  word-wrap: none;
}

.button {
  background-color: #f8f8f8;
  box-shadow: 0 0 1px 0px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  display: flex;
  margin: 5px;
  filter: brightness(var(--button-brightness)) contrast(var(--button-contrast));
}

.button:hover {
  /* box-shadow: 0 0 1px 1px; */
  filter: brightness(calc(var(--button-brightness) + 0.1)) !important;
}

.button:active {
  filter: brightness(calc(var(--button-brightness) + 0.2)) !important;
  /* box-shadow: 0 0 1px 1px; */
  box-shadow: inset 0px 0px 3px 0px #007acc;
}

.button-text {
  margin: 3px;
}

.button-subtext {
  font-size: 70%;
}

.button-icon {}

/* button {
  background-color: #f8f8f8;
  box-shadow: 0 0 1px 0px;
  border: none;
  padding: 10px;
  border-radius: 3px;
} */
.btn-green {
  background-color: #ccf6c6;
  border: 1px solid #00ad0c;
  box-shadow: 0 0 1px 1px;
}

.btn-red {
  background-color: #f6c6c6;
  border: 1px solid #f44437;
}

/* RADIO */
.radio-button {
  height: 35px;
  width: 35px;
  padding: 0px;
  /*overrides .button*/
  margin: 5px;
  /* background-color: #7c7c7c; */
}

.radio-button-text {
  margin: auto;
  text-align: center;
}

.radio-button.selected,
.tab-button.selected {
  --button-brightness: 0.8;
  /* --button-contrast:1.3 */
}

.dark .radio-button.selected,
.dark .tab-button.selected {
  --button-brightness: 0.4;
  /* --button-contrast:1.3 */
}
