/* Full-width input fields */
#loginModal input[type=text],
#loginModal input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#loginModal input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
}

#loginModal input[type=submit]:hover {
  opacity: 0.8;
}

#login_button_mask {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  user-select: none;
}

/* Extra styles for the cancel button */
#loginModal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
#loginModal .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#loginModal img.avatar {
  max-width: 150px;
  width: 40%;
  border-radius: 50%;
}

#loginModal .container {
  padding: 16px;
}

#loginModal span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
#loginModal .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 20px;
}

/* Modal Content/Box */
#loginModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
#loginModal .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#loginModal .close:hover,
#loginModal .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
#loginModal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #loginModal span.psw {
    display: block;
    float: none;
  }

  #loginModal .cancelbtn {
    width: 100%;
  }
}

#login-msg {
  display: none;
  margin-bottom: 10px;
  padding: 11px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #f44336;
}

/* LOADING ANIMATION */
@keyframes load {
  0% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }

  100% {}
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif, Arial;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}
