/* Full-width input fields */
.modal input[type=text],
.modal input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.modal input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
}

.modal input[type=submit].disabled {
  filter: grayscale();
  cursor: not-allowed;
}

.modal input[type=submit].disabled:hover {
  opacity: 1;
}

.modal input[type=submit]:hover {
  opacity: 0.8;
}

.modal .button-mask {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  user-select: none;
}

.dark .modal {
  color: #777777;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: 0px;
  margin-right: 10px;
}

.dark .modal .cancelbtn {
  color: white;
}

/* Center the image and position the close button */
.modal .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 26px;
  position: relative;
}

.modal img.avatar {
  max-width: 100px;
  width: 40%;
  border-radius: 50%;
}

.modal .container {
  padding: 16px;
}

.modal .container.success {
  border: 2px solid #00c700;
  background-color: #92dd92;
}

.modal .success-message {
  padding: 4px;
  border: 2px solid #00c700;
  background-color: #92dd92;
}

.modal .failure-message {
  padding: 4px;
  border: 2px solid hsl(0, 100%, 45%);
  background-color: hsl(0, 52%, 85%);
}

.modal span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 20px;
}

/* Modal Content/Box */
.modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.dark .modal .modal-content {
  background-color: #1e1e1e;
}

/* The Close Button (x) */
.modal .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.modal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .modal span.psw {
    display: block;
    float: none;
  }

  .modal .cancelbtn {
    width: 100%;
    border: 0px;
    margin-right: 10px;
  }
}

.modal .modal-msg {
  display: none;
  margin-bottom: 10px;
  padding: 11px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #f44336;
}

.modal .modal-msg.success {
  display: block;
  background-color: #4CAF50;
}

/* LOADING ANIMATION */
@keyframes load {
  0% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }

  100% {}
}

@keyframes click {
  0% {
    letter-spacing: 1px;
  }

  20% {
    letter-spacing: 1px;
  }

  50% {
    letter-spacing: 0px;
  }

  80% {
    letter-spacing: 1px;
  }

  100% {
    letter-spacing: 1px;
  }
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif, Arial;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}

.load {
  animation: load 1.2s infinite 0s ease-in-out;
}

.click {
  animation: click 1.2s infinite 0s ease-in-out;
}
