body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 10pt;
  color: #333;
}

.flex-center {
  display: flex;
  justify-content: space-evenly;
}

/* .flex-center > div {
background-color:red;
margin:5px;
} */
.title {
  font-size: 14pt;
  padding: 10px;
}

.title.welcome {
  font-size: 12pt;
  padding: 5px;
}

.title-bar {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.title-bar a {
  font-size: 14pt;
}

/* TABS */
.tab-bar {
  margin: 10px;
  padding: 5px;
  display: flex;
}

.tab-button {
  border-radius: 0px;
  flex-grow: 1;
}

.layout {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.container {
  flex: 1 1 auto;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
  border-radius: 3px;
}

.container .title {
  text-align: center;
  font-size: 14pt;
  padding: 8px;
}

.number {
  text-align: right;
}

.controlAndLabelWrapper {
  display: block;
  /* display: inline-block;
  padding-top: 5px; */
}

.controlWrapper {
  padding-top: 5px;
  display: inline-block;
  width: 225px;
}

label {
  display: inline-flex;
  align-items: flex-end;
  width: 160px;
}

input {
  padding: 5px;
  margin-right: 15px;
  border-radius: 10px;
  width: 120px;
}

select {
  padding: 5px;
  margin-right: 15px;
  border-radius: 10px;
  width: 170px;
}

.bold {
  font-weight: bold;
}

.icon-disabled {
  filter: grayscale(1);
}

#toggleDarkMode>.icon {
  filter: saturate(0);
}

table {
  border-collapse: collapse !important;
  font-size: 9pt;
  width: 100%;
}

th {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 2px;
  /* text-align: left; */
  background-color: #63ac66;
  color: white;
}

tr:nth-child(even) {
  background-color: #dadada !important;
}

td,
th {
  border: 1px solid #ddd;
  border-spacing: 1px !important;
  padding-left: 6px !important;
  padding-right: 9px !important;
  padding: 2px;
}

/* tr.red {
  background-color: #c12121 !important;
  color: white !important;
} */
td.transaction {
  text-transform: capitalize;
  text-align: left;
}

tr.ended td.transaction, tr.ended td.investment {
  color: #c12121 !important;
}

td.balance, td.investment {
  text-align: right;
}

tr.ended td.balance {
  color: #19b641 !important;
}

tr.reinvest td.transaction, tr.reinvest td.balance {
  color: #c15921 !important;
}

tr.reinvest td.investment {
  color: #19b641 !important;
}

tr.interest td.transaction, tr.interest td.balance {
  color: #19b641 !important;
}

td {
  border: 1px solid black;
  text-align: center;
}

.toolbar, .title {
  display: flex;
  align-items: center;
}

.toolbar .control-label {
  font-size: 10pt;
  padding: 10px;
}

.toolbar .control-label.slim {
  padding: 2px;
}

.toolbar.left, .title.left {
  justify-content: flex-start;
}

.toolbar.center, .title.center {
  justify-content: center;
}

.toolbar.right, .title.right {
  justify-content: flex-end;
}

.control-readonly {
  padding: 5px;
  font-size: 11pt;
}

.ticker {
  vertical-align: middle;
  min-width: 70px;
  margin: 5px;
  padding: 5px;
  background-color: #ccc;
  border-radius: 5px;
  border: 1px solid #333;
}

.ticker .rate {
  display: block;
  margin-right: 3px;
  font-weight: bold;
  font-size: 14pt;
  color: #333;
  flex-basis: 1;
}

.ticker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ticker-wrapper .time {
  font-weight: bold;
  font-style: italic;
  font-size: 8pt;
  padding: 5px;
  flex-basis: 1;
}

.ticker-wrapper .disclaimer {
  color: #888;
  font-style: italic;
  font-size: 8pt;
  padding: 5px;
  flex-basis: 5;
  text-align: center;
}

/* DARK STUFF HERE */
.dark * {
  color: #777777;
}

.dark input,
.dark select {
  color: #bebebe;
  background-color: #1f1f1f;
  border-color: #424242;
}

.dark #toggleDarkMode>.icon {
  filter: saturate(1);
}

.dark input:disabled {
  background-color: #2f2f2f;
}

.dark {
  background-color: #121212;
}

.dark .container {
  background-color: #1e1e1e;
  box-shadow: 0px 0px 0px 0px;
}

.dark tr {
  background-color: #333 !important;
  color: #9e9e9e;
}

.dark tr:nth-child(even) {
  background-color: #444 !important;
  /* color: #828282 !important; */
}

.dark tr:nth-child(odd) td {
  color: #eeeeee;
}

.dark td {
  color: #9f9f9f;
  border: 1px solid #000;
}

th {
  border: 1px solid #000;
  text-align: center;
}

.dark th {
  color: #2e2e2e;
}

.dark tr.red td {
  color: white !important;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

div.link {
  display: flex;
  cursor: pointer;
}

div.link:hover {
  filter: brightness(1.2);
}

div.link .icon {
  display: inline-block;
  zoom: 0.9;
  margin-right: 2px;
  margin-left: 0px;
}

div.link .text {
  white-space: nowrap;
}

.dark div.link .text {
  color: #c15921 !important;
}

.container.info {
  padding: 4px;
  border: 2px solid #009fad;
  background-color: #c6eff6;
  font-size: 8pt;
  filter: brightness(var(--brightness)) contrast(var(--contrast));
}

.dark .container.info {
  background-color: #a7d4dc;
  color: #262626;
}

.container.info table {
  table-layout: fixed;
  font-size: 8pt;
}

.container.info table th {
  background-color: #44b2c5;
}

.container.info table td {
  background-color: #c6eff6;
  border: 1px solid #999999;
}

.dark .container.info table th {
  color: white;
}

.dark .container.info table td {
  color: black;
  background-color: #a7d4dc;
}
